<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.clipforge.cobalt</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>cd "$HOME/.clipforge/cobalt" &amp;&amp; docker compose up -d --wait</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><false/>
  <key>StandardOutPath</key><string>__HOME__/.clipforge/logs/cobalt.log</string>
  <key>StandardErrorPath</key><string>__HOME__/.clipforge/logs/cobalt.log</string>
</dict>
</plist>
